/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Dosis',helvetica, arial, sans-serif;
}
html, body{
    background-color: #F5E6C9;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Lusitana','Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Dosis','Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
    font-family: 'Dosis','Palatino Linotype', 'Book Antiqua', Palatino, serif;

}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #F58335;
    color: #553785;
}
header{
    border-bottom: 0.8rem solid #373C7F;
    background-color: #74F5A3;
    color:#127848;
}
.menu-h{
    width: 100%;
}
    .menu-h li{
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
        list-style: none;
        float: left;
        width: 20%;
        text-align: center;
        line-height: 1.2;
        border-left: 1px solid #949BFF;
        border-bottom: 1px solid #949BFF;
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            
            
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
            display: block;
            color: #553785;
            text-decoration:none;
            cursor: pointer;
            
        }
        .menu-h a:hover,
        .menu-h a:active{
            color: #D1F5E5;
            font-variant: small-caps;
            background-color: #032F73;
            
        }
.menu-v{
    width: 20%;
    float:left;
    padding-top: 150px;
     
}
    .menu-v li{
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */ 
        list-style: none;
        width: 100%;
        text-align: center;
        line-height: 1.2;
        border-left: 1px solid #797F37;
        border-bottom: 1px solid #7F612D;
       color: 
        
        
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            /* style the anchors to fill the entire width of the li */
            display: block;
/*            no underline optional*/
            text-align: center;
            color: #553785;
            text-decoration: none;
            cursor:pointer;
/*    add to show width works otherwise optional        */
            border:1rem solid transparent;
            
            
            
        }
        .menu-v a:hover,
        .menu-v a:active{
            font-style:italic;
            color:#D1F5E5;
            font-variant:inherit;
            background-color: #D12B02;
            font-weight: 700;
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}